body {
  /*position: relative;*/
  background-color: #A9A9A9;
  color: white;
  box-sizing: border-box;
}

/* Chart and Text */

div#options {
  margin-top: 110px;
  text-align: right;
}

@media (max-width: 550px) {
  div#options {
    margin-top: 0px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

select {
  color: black;
  background-color: white;
}

div#chart {
  width: auto;
  height: auto;
  position: relative;
}

svg {
  margin: auto;
}

/* Info Window */

.info.sunburst {
  position: absolute;
  text-align: center;
  /*border: 1px solid gray;*/
  width: 100px;
  background-color: darkgreen;
  opacity: 0.5;
  word-wrap: break-word;
}

.info.hidden {
  display: none;
}

.info > img {
  width: 100%;
}
