body {
  background-color: #A9A9A9;
  color: white;
  box-sizing: border-box;
}

div#options {
  position: absolute;
  right: 100px;
  top: 0;
  text-align: right;
}

a {

}

div#chart {
  width: auto;
  height: auto;
  position: relative;
}

svg {
  margin: auto;
}

.tooltip.sunburst {
  position: absolute;
  text-align: center;
  border: 1px solid blue;
  width: 100px;
  background-color: darkgreen;
  opacity: 0.5;
  word-wrap: break-word;
}

.tooltip.hidden {
  display: none;
}

.tooltip > img {
  width: 50px;
}
